body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    background-color: #FAFAFA;;
}

.container{
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.center{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.todo{
    position: relative;
}
/* HEADER */
.todo__header{
    background-image: url("../img/header__bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.todo__header::after{
    background: transparent;
    background: linear-gradient(225deg,rgba(85, 150, 255, 0.7) 0%, rgba(172, 45, 235, 0.7) 100%);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.header__wrapper{
    padding-top: 70px;
    padding-bottom: 80px;
}

.header__content{
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__title{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 15px;
    color: #FFFFFF;
}


.header__mode{
    margin-top: 12%;
}


.mode__btn{
    padding-top: 50%;
    appearance: none;
    background: url("../img/night__mode.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px; 
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5 ease;
}

.mode__btn:hover{
    opacity: 0.6;
}

.mode__btn:focus{
    opacity: 0.4;
}

.header__input--wrapper{
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.header__input{
    border:none;
    outline: none;
    width: 530px;
    background: #FFFFFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    height: 65px;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.25px;
    color: #9495A5;
    caret-color: #3A7CFD;
}

.header__input:hover, .header__input:focus{
    color: #393A4B;
}


.btn__wrapper{
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
}


.btn__task{
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    border: 1px solid #E3E4F1;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    transition: background 0.7s ease;
}

.btn__task:hover{
    border: 1px solid transparent;
    background: linear-gradient(#FFFFFF,#FFFFFF) padding-box, linear-gradient(to bottom right, #55DDFF 0%, #C058F3 100%) border-box;
}

.task__btn--compleate{
    border-radius: 0%;
    background: none;
    background-image: url("../img/check.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important;
}

.task__btn--compleate:hover{
    border: none;
    background: none;
    background-image: url("../img/check.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}




/* TASKS */
.todo__tasks{
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
}


.tasks__wrapper{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
}


.task__wrapper{
    display: flex;
    width: 100%;
    height: 65px;
    z-index: 3;
    justify-content: space-between;
    border-bottom: 1px solid #E3E4F1;
}

.task__body{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.task__body:hover .body__del{
    opacity: 1;
}

.body__text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.25px;
    color: #494C6B;
    cursor: pointer;
}

.body__text--compleate{
    text-decoration-line: line-through !important;
    color: #D1D2DA !important;
}

.body__del{
    opacity: 0;
    transition: all 0.5s ease;
    padding: 3px;
}


.del__btn{
    border: none;
    outline: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.del__btn:hover{
    opacity: 0.5;
}

.del__btn::before, .del__btn::after{
    position: absolute;
    left: 0px;
    top: -4px;
    text-align: center;
    content: '';
    height: 25px;
    width: 1px;
    background-color: #494C6B;
}

.del__btn::before{
    transform: rotate(45deg);
}

.del__btn::after{
    transform: rotate(-45deg);
}


.info__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.info__count{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;
    color: #9495A5;
}

.info__link{
    margin-right: 20px;
    cursor: pointer;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.194444px;
    color: #9495A5;
}

.info__link:hover, .info__link:focus{
    color: #494C6B;
}

.info__link--active{
    color: #3A7CFD;
}

.info__link--active:hover{
    color: #3A7CFD;
}

.info__link:last-child{
    margin-right: 0px;
}

.clear__btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.194444px;
    color: #9495A5;
    cursor: pointer;
}

.clear__btn:hover{
    color: #494C6B;
}